%YAML 1.1
---
$schema: "https://json-schema.org/draft/2020-12/schema"

title: |
  'Delomaten' configuration data

type: object
required:
  - shared_bucket
  - source_folder_prefix
  - destination_folder
  - memory_size

oneOf:
  - required: ["pseudo"]
  - required: ["depseudo"]

properties:
  shared_bucket:
    description: |
      The name of the shared bucket
    type: string

  source_folder_prefix:
    description: |
      The folder prefix inside the teams' product bucket from which
      to fetch the files. This path can include a prefix of the file name i.e.
      'folder/start' will match files like 'folder/start_date' and 'folder/start_time'.
    type: string
    pattern: "(^([a-zA-Z0-9])[-/a-zA-Z0-9]+[/a-zA-Z0-9]$)"
    errorMessage:
      pattern: |
        Validation error in 'source_folder' property. Folder prefixes cannot begin with a '/' or '-' character, cannot end with a '-' and can otherwise only contain alphanumerical characters.

  destination_folder:
    description: |
      The folder inside the shared bucket from which
      to write the processed files to
    type: string
    pattern: "(^([a-zA-Z0-9])[-/a-zA-Z0-9]+[a-zA-Z0-9]$)"
    errorMessage:
      pattern: |
        Validation error in 'destination_folder' property. Folder prefixes cannot begin or end with a '/' or '-' character
        and can otherwise only contain alphanumerical characters.

  memory_size:
    description: |
      The amount of memory in GiB given to the data automation processor instance
    type: integer
    minimum: 1

  depseudo:
    description: |
      The depseudonymization task (singular) to be run
    type: object
    required:
      - columns

    properties:
      columns:
        description: |
          Which columns to target
        type: array
        minItems: 1
        errorMessage:
          minItems: |
            Validation error in 'columns'. The array must contain at least one element.
        items:
          type: string

  pseudo:
    description: |
      The pseudonymization tasks to be run
    type: array
    minItems: 1
    errorMessage:
      minItems: |
        Validation error in 'pseudo tasks'. The array must contain at least one element.
    items:
      type: object
      required:
        - name
        - columns
        - encryption

      properties:
        name:
          description: |
            A name describing the pseudo task
          type: string
          minLength: 3

        columns:
          description: |
            Which columns in the dataframe to target
          type: array
          minItems: 1
          errorMessage:
            minItems: |
              Validation error in 'columns'. The array must contain at least one element.
          items:
            type: string

        encryption:
          description: |
            What type of encryption to use
          type: object
          additionalProperties: false
          required:
            - algorithm
          properties:
            algorithm:
              description: |
                The specific algorithm.
              enum:
                - "default"
                - "papis_compatible"
                - "sid_mapping"

            key:
              description: |
                The encryption key.
              enum:
                - "ssb-common-key-1"
                - "ssb-common-key-2"
                - "papis-common-key-1"

            sid_snapshot_date:
              description: |
                The sid catalog snapshot to be used.
              type: string
              format: date

            sid_on_map_failure:
              description: |
                What to do if the sid mapping fails.
              enum:
                - "RETURN_NULL"
                - "RETURN_ORIGINAL"
